
        body { font-family: 'Inter', sans-serif;
           margin: 0px;
           padding: 0px;
          background-image: url(back.png);
          background-size: cover;
         }
        .g1 { 
            max-width: 900px;
             margin: 30px auto -400px;
              padding: 20px;
              background-color:#00A1DE ;
              border-radius: 30px;
              color: white;
             }
        

        .g2 { display: grid;
             grid-template-columns: 1fr 1fr;
              gap: 20px;
               margin-top: 30px;
             }
        .g3 {
             background: white;
              padding: 25px;
               border-radius: 10px;
                border-top: 5px solid yellow;
                 box-shadow: 0 4px 6px rgba(0,0,0,0.05);
                 color: black;
                 }
        
        .g4 { list-style: none; margin-top: 15px; }
        .g4 li { margin-bottom: 5px; font-size: 0.9rem; }
        
        .g5 { margin-top: 40px; overflow-x: auto; }
        table {
             width: 100%;
              border-style:none;
               background: white;
               color: black;
             }
        th, td {
             padding: 12px;
              border: 1px solid #e2e8f0;
               text-align: left;
             }
        th {
             background: #f1f5f9;
             }